.App {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.icons-class {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
  margin: 32px auto 0;
}

.icons-class1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
